[Desktop Entry]
Name=%{APPNAMELC}
Comment=My first Plasma Mobile App
Version=1.0
Exec=%{APPNAMELC}
MimeType=application/x-%{APPNAMELC};
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
